<!DOCTYPE html>
<html>
  <head>
    <title>Fresh511</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag :div, nil,
      id: "hello-react",
      data: {
        message: 'Hello!',
        name: 'Tom'
    }.to_json %>
    <%= yield %>

    <%= javascript_pack_tag 'hello_react' %>
  </body>
</html>
